/* Global Styles */

body {
    margin: 20px;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    background-color: #f0f0f0; /* Cor de fundo do cabeçalho (opcional) */
}

.logo-container img {
    max-height: 60px; /* Ajuste a altura conforme necessário */
}

h1 {
    margin: 0px; /* Remove margens padrão do h1 */
}

/* Form Styles */
form {
    max-width: 600px; /* Set a maximum width for the form on larger screens */
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px; /* Add padding to the form */
    box-sizing: border-box; /* Include padding in the total width */
    margin-bottom: 20px; /* Adjust spacing below the form */
}

label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
    margin-bottom: 10px; /* Adjust spacing below labels */
}

select {
    width: 75px; /* Set the width to half of the original size */
    margin-bottom: 10px; /* Adjust spacing below selects */
}

button {
    margin-top: 10px; /* Adjust spacing above the button */
}

/* Mobile Styles */
@media only screen and (max-width: 600px) {
    header {
        flex-direction: column; /* Altera a direção do flex container para coluna */
        align-items: center; /* Centraliza os itens na coluna */
    }

    .logo-container {
        margin-bottom: 10px; /* Adiciona margem abaixo do contêiner de logotipo */
    }

    h1 {
        margin-top: 10px; /* Adiciona margem acima do título */
    }
}

/* ... (rest of your existing styles) */

#geochart {
    min-width: 400px;
}
