body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f0f0f0; /* Cor de fundo do cabeçalho (opcional) */
}

.logo-container img {
    max-height: 60px; /* Ajuste a altura conforme necessário */
}

h1 {
    margin: 0; /* Remove margens padrão do h1 */
}

label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

select {
    width: 150px;
}

/* Seu CSS existente ... */

/* Adicione esta regra para garantir que os selects estejam lado a lado */
form {
    display: flex;
    flex-wrap: wrap;
}

/* Adapte esta regra para os selects específicos dentro do form */
form select {
    flex: 1; /* Ocupa a largura disponível */
    margin-right: 10px; /* Adicione uma margem à direita para espaçamento entre os selects */
    margin-bottom: 10px; /* Adicione uma margem na parte inferior para espaçamento entre as linhas */
}

/* Restante do seu CSS ... */


@media only screen and (max-width: 600px) {
    /* Estilos específicos para telas menores que 600 pixels de largura */
    label {
        width: 100%;
        text-align: left;
        margin-right: 0;
    }
    select {
        width: 100%;
        margin-bottom: 10px;
    }
}
/*#geochart {
    min-width: 400px; 
}*/