body {
    margin: 0;
    padding: 0;
    /*min-width: 500px;*/
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f0f0f0; /* Cor de fundo do cabeçalho (opcional) */
}

.logo-container img {
    max-height: 60px; /* Ajuste a altura conforme necessário */
}

h1 {
    margin: 0; /* Remove margens padrão do h1 */
}
@media only screen and (max-width: 600px) {
    /* Estilos específicos para telas menores que 600 pixels de largura */
    label {
        width: 100%; /* Defina a largura total para os rótulos em telas menores */
        text-align: left; /* Alinhe o texto à esquerda para os rótulos em telas menores */
        margin-right: 0; /* Remova a margem à direita em telas menores */
    }
    select {
        width: 100%; /* Defina a largura total para os selects em telas menores */
        margin-bottom: 10px; /* Adicione uma margem na parte inferior para espaçamento */
    }
}